

# ---- Ignore all checkpoints completely ----
checkpoints/
**/checkpoints/
*/checkpoints/
**/_spark_metadata/
**/_SUCCESS
**/.spark-staging/
**/*.crc
**/.spark-checkpoint/
**/checkpoint/

# ---- Python, system, and editor junk ----
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
.env

# ---- Ignore everything under output by default ----
output/**


!output/task1/
!output/task2/
!output/task3/

!output/task1/part-00000-3be55839-2260-44c5-b95c-a20319e2faf1-c000.csv
!output/task1/part-00000-c4a9eb8b-a202-44e4-9641-d13f1cf87d95-c000.csv
!output/task1/part-00000-d50ef07b-76e2-4a2d-92c3-561a00a024ee-c000.csv

!output/task2/epoch=5/
!output/task2/epoch=6/
!output/task2/epoch=12/
!output/task2/epoch=5/part-00000-ea990815-a8f3-4305-a358-469fa08019b5-c000.csv
!output/task2/epoch=6/part-00000-b0983dd1-2f91-4101-9afd-3c24944ec64c-c000.csv
!output/task2/epoch=12/part-00000-bf121cea-773f-434b-bc03-403a95c44ec5-c000.csv

!output/task3/epoch=5/
!output/task3/epoch=9/
!output/task3/epoch=3/
!output/task3/epoch=5/part-00000-7ef6c197-69ec-4c3e-87ba-9be937fb5531-c000.csv
!output/task3/epoch=9/part-00000-df399804-72eb-4474-8343-3ee7feb93e2c-c000.csv
!output/task3/epoch=3/part-00000-578253c0-5ead-49ea-827b-b2c4856a2d01-c000.csv